__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
venv/
ENV/
instance/
theme-template/README.md
theme-template/globals.css
theme-template/tailwind.config.js
theme-template/theme-provider.tsx
theme-template/theme-toggle.tsx
